.dropDown{
    position: absolute;
    top: 2.25rem;
    right: 1rem;
    width: 190px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    /* color: white; */
    border: 0px;
    
  }
.clicked{
    display: none;
    background: red;
}

.dropdown-bg{
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.8s;
}
.dropDown li{
padding: 1.5px;
transition: all linear 0.3s;
/* border-radius:5px; */

  }
/* .dropDown li:hover{
  background: gray;
    cursor: pointer;
    
} */
.dropDown p:hover{
  color: gray;
  cursor: pointer;
  transition: 0.3s;
}
